<header class="major">
    <h2>Het Graafschap</h2>
    <br />
  </header>
  <span class="image featured"><img src="assets/images/corso2020.jpg" alt="" /></span>
  <h3>Over ons</h3>
    <p>
        Welkom op de website van buurtschap Graafschap. Buurtschap Graafschap is één van de dertien buurtschappen/bouwgroepen die jaarlijks deelneemt aan het Bloemencorso Valkenswaard. Onze bouwplaats vind je jaarlijks van juni tot het tweede weekend van september op de hoek van De Hazelaar en de Nieuwe Waalreseweg in Het Gegraaf. Al sinds 1968 bouwen wij met veel plezier de mooiste creaties van ijzer, karton en dahlia’s. Dat doen we samen met onze leden maar natuurlijk ook met de buurtgenoten uit het Gegraaf, onze sponsoren en met alle andere belangstellenden die ons tijdens de bouw, het prikweekend of de parade komen steunen. Naast de bewoners van Het Gegraaf zijn bij buurtschap Graafschap ook vele mensen van buiten de buurt en zelfs uit andere plaatsen actief.   
    </p>
    <p>
        Buurtschap Graafschap staat voor samenwerking en betrokkenheid. Wij vinden het belangrijk dat iedereen zich thuis voelt en dat een ieder de kans krijgt om zijn (creatieve) talenten te ontwikkelen. Nieuwsgierig geworden? Loop vooral eens binnen in onze tent. Onze leden leggen je graag uit wat ‘corsokoorts’ nou precies is en waarom we liever ‘prikken’ dan ‘tikken’.
    </p>
