<div id="page-wrapper">

  <!-- Header -->
    <header id="header" class="alt">
      <h1><a href="index.html">Buurtschap Graafschap</a> by Corso Valkenswaard UP</h1>
      <nav id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <a href="#" class="icon solid fa-angle-down">Layouts</a>
            <ul>
              <li><a href="generic.html">Generic</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li>
                <a href="#">Submenu</a>
                <ul>
                  <li><a href="#">Option One</a></li>
                  <li><a href="#">Option Two</a></li>
                  <li><a href="#">Option Three</a></li>
                  <li><a href="#">Option Four</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" class="button">Sign Up</a></li>
        </ul>
      </nav>
    </header>

  <!-- Banner -->
    <app-banner></app-banner>

  <!-- Main -->
    <section id="main" class="container">

      <section class="box special">
        <graafschap-welkom></graafschap-welkom>
      </section>

      <section class="box special features">
        <div class="features-row">
          <graafschap-tile icon="icon solid major fa-bolt accent2">
            <p title>
              Geschiedenis
            </p>
            <p>Het Bloemencorso Valkenswaard trok in 1953 voor het eerst door de straten als herdenking van de bevrijding na de Tweede Wereldoorlog.</p>
          </graafschap-tile>
          <graafschap-tile icon="icon solid major fa-chart-area accent3">
            <p title>
              Wagens
            </p>
            <p>
              Al sinds 1968 neemt Buurtschap Graafschap deel aan het Bloemencorso Valkenswaard. Sinds 1994 kent het evenement een jaarlijks wisselend overkoepelend thema. 
            </p>
          </graafschap-tile>
        </div>
        <div class="features-row">
          <graafschap-tile icon="icon solid major fa-cloud accent4">
            <p title>
              Meedoen
            </p>
            <p>
              Wat niet veel mensen weten, is dat je altijd even binnen kunt lopen in de grote groene corsotent. Waar er vroeger nog wel eens geheimzinnig werd gedaan door de verschillende buurtschappen om de ideeën geheim te houden voor elkaar, wil Graafschap zo open mogelijk zijn voor iedereen. 
            </p>
          </graafschap-tile>
          <graafschap-tile icon="icon solid major fa-cloud accent5">
            <p title>
              Sponsoren
            </p>
            <p>
              Dankzij onze sponsoren zet Buurtschap Graafschap jaarlijks met trots een nieuwe wagen op het parcours.
            </p>
          </graafschap-tile>
        </div>
      </section>

      <!-- <div class="row">
        <div class="col-6 col-12-narrower">

          <section class="box special">
            <span class="image featured"><img src="assets/images/pic02.jpg" alt="" /></span>
            <h3>Sed lorem adipiscing</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            <ul class="actions special">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </section>

        </div>
        <div class="col-6 col-12-narrower">

          <section class="box special">
            <span class="image featured"><img src="assets/images/pic03.jpg" alt="" /></span>
            <h3>Accumsan integer</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            <ul class="actions special">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </section>

        </div>
      </div> -->

    </section>

  <!-- CTA -->
    <section id="cta">

      <h2>Contact Informatie</h2>
      <p>Wil je graag in contact komen met Buurtschap Graafschap? Neem dan contact op met een van de onderstaande leden van het bestuur</p>

      <mat-grid-list cols="3" rowHeight="45px" >
        <mat-grid-tile>Voorzitter:</mat-grid-tile>
        <mat-grid-tile>Wil Smulders</mat-grid-tile>
        <mat-grid-tile>email@corsograafschap.nl</mat-grid-tile>       
        
        <mat-grid-tile>Secretaris:</mat-grid-tile>
        <mat-grid-tile>Willie Hoeks</mat-grid-tile>
        <mat-grid-tile>secretarisbuurtschapgraafschap@gmail.com</mat-grid-tile>
      </mat-grid-list>
      <!--<form>
        <div class="row gtr-50 gtr-uniform">
          <div class="col-8 col-12-mobilep">
            <input type="email" name="email" id="email" placeholder="Email Address" />
          </div>
          <div class="col-4 col-12-mobilep">
            <input type="submit" value="Sign Up" class="fit" />
          </div>
        </div>
      </form> -->

    </section>

  <!-- Footer -->
    <footer id="footer">
      <!-- <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
      </ul> -->
      <ul class="copyright">
        <li>&copy; DefJef Engineering & Buurschap Graafschap.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </footer>

</div>
