<div id="page-wrapper">

  <!-- Header -->
    <header id="header" class="alt">
      <h1><a href="index.html">Buurtschap Graafschap</a> by Corso Valkenswaard UP</h1>
      <nav id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <a href="#" class="icon solid fa-angle-down">Layouts</a>
            <ul>
              <li><a href="generic.html">Generic</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li>
                <a href="#">Submenu</a>
                <ul>
                  <li><a href="#">Option One</a></li>
                  <li><a href="#">Option Two</a></li>
                  <li><a href="#">Option Three</a></li>
                  <li><a href="#">Option Four</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" class="button">Sign Up</a></li>
        </ul>
      </nav>
    </header>

  <!-- Banner -->
    <app-banner></app-banner>

  <!-- Main -->
    <section id="main" class="container">

      <section class="box special">
        <header class="major">
          <h2>Over Ons</h2>
        </header>
        <body>
          <p>Welkom op de website van buurtschap Graafschap. Buurtschap Graafschap is één van de dertien buurtschappen/bouwgroepen die jaarlijks deelneemt aan het Bloemencorso Valkenswaard. Onze bouwplaats vind je jaarlijks van juni tot het tweede weekend van september op de hoek van De Hazelaar en de Nieuwe Waalreseweg in Het Gegraaf. Al sinds 1968 bouwen wij met veel plezier de mooiste creaties van ijzer, karton en dahlia’s. Dat doen we samen met onze leden maar natuurlijk ook met de buurtgenoten uit het Gegraaf, onze sponsoren en met alle andere belangstellenden die ons tijdens de bouw, het prikweekend of de parade komen steunen. Naast de bewoners van Het Gegraaf zijn bij buurtschap Graafschap ook vele mensen van buiten de buurt en zelfs uit andere plaatsen actief.</p>

           <p>Buurtschap Graafschap staat voor samenwerking en betrokkenheid. Wij vinden het belangrijk dat iedereen zich thuis voelt en dat een ieder de kans krijgt om zijn (creatieve) talenten te ontwikkelen. Nieuwsgierig geworden? Loop vooral eens binnen in onze tent. Onze leden leggen je graag uit wat ‘corsokoorts’ nou precies is en waarom we liever ‘prikken’ dan ‘tikken’. Klik voor meer informatie ook op ‘meedoen’. </p>
          </body>
        <span class="image featured"><img src="assets/images/corso2020.jpg" alt="" /></span>
      </section>

      <section class="box special features">
        <div class="features-row">
         <app-content-tile name="Geschiedenis" icon="fa-bolt" color="accent2"> 
          <p>Het Bloemencorso Valkenswaard trok in 1953 voor het eerst door de straten als herdenking van de bevrijding na de Tweede Wereldoorlog. Vanaf 1968 neemt ook Buurtschap Graafschap deel aan deze parade.</p>
         </app-content-tile>
         <app-content-tile name="Wagens" icon="fa-truck-monster" color="accent3">
          <p>Sinds 1968 neemt Buurtschap Graafschap deel aan het Bloemencorso Valkenswaard. Sinds 1994 kent het evenement een jaarlijks wisselend overkoepelend thema.</p>
         </app-content-tile>
        </div>
        <div class="features-row">
          <app-content-tile name="Meedoen" icon="fa-cloud" color="accent4">
            <p>Wat niet veel mensen weten, is dat je altijd even binnen kunt lopen in de grote groene corsotent.</p>
          </app-content-tile>
          <app-content-tile name="sponsoren" icon="fa-lock" color="accent5">
            <p>Dankzij onze sponsoren zet Buurtschap Graafschap jaarlijks met trots een nieuwe wagen op het parcours.</p>
          </app-content-tile>
        </div>
      </section>

      <!-- <div class="row">
        <div class="col-6 col-12-narrower">

          <section class="box special">
            <span class="image featured"><img src="assets/images/pic02.jpg" alt="" /></span>
            <h3>Sed lorem adipiscing</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            <ul class="actions special">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </section>

        </div>
        <div class="col-6 col-12-narrower">

          <section class="box special">
            <span class="image featured"><img src="assets/images/pic03.jpg" alt="" /></span>
            <h3>Accumsan integer</h3>
            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            <ul class="actions special">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
          </section>

        </div>
      </div> -->

    </section>

  <!-- CTA -->
    <section id="cta">

      <h2>Contact</h2>
      <p>Wil je graag in contact komen met Buurtschap Graafschap? Neem dan contact op met een van de onderstaande leden van het bestuur</p>

      <form>
        <div class="row gtr-50 gtr-uniform">
          <div class="col-4 col-12-mobilep">
            <p>Voorzitter</p>
          </div>
          <div class="col-4 col-12-mobilep">
            <p>Wil Smulders</p>
          </div>
          <div class="col-4 col-12-mobilep">
            <p>Wil Smulders</p>
          </div>
        </div>
        <div class="row gtr-50 gtr-uniform">
          <div class="col-4 col-12-mobilep">
            <p>Secretaris</p>
          </div>
          <div class="col-4 col-12-mobilep">
            <p>Willie Hoeks</p>
          </div>
          <div class="col-4 col-12-mobilep">
            <p>secretarisbuurtschapgraafschap@gmail.com</p>
          </div>
        </div>      
        <div class="row gtr-50 gtr-uniform">
          <div class="col-4 col-12-mobilep">
            <p>Penningmeeester</p>
          </div>
          <div class="col-4 col-12-mobilep">
            <p>Rob Osterloh</p>
          </div>
          <div class="col-4 col-12-mobilep">
            <p></p>
          </div>
        </div>   
      </form>

    </section>

  <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </footer>

</div>
